.navigation {
    background-color: red;
    padding : 20px;
    margin: 10px 10px 10px 10px;
    border-radius: 0 0 0 10px;

    svg {

        color: #fff;
        font-size : 60px;
        cursor: pointer;
        
        &:hover {
            color : pink;
        }

    }
    .nav {

        display : none;

        &.open {
            display: block;
        }

    }

    a {
        color : white;
        text-decoration: none;
        margin : 0 5px;

        &:hover {
            text-decoration: underline;
        }
    }

    .active {
        color : black;
        background-color: #fff;
    }
}